.title{
    text-align: center;
    color: #dadbdd;
    font-weight: 600;
    text-transform: uppercase;
    margin: 25px 0 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: #161414;
}
.title h2{
    font-size: 28px;
    color: #f3f3f3;
    margin-top: 120px;
    text-transform: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title p{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}