/* .lounge-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0e0e0e;
  color: #fff;
  padding: 50px 80px;
  gap: 40px;
  min-height: 5vh;
}

.lounge-images {
  display: flex;
  flex: 1.3;
  gap: 20px;
}

.lounge-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.lounge-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.lounge-title {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.lounge-desc {
  font-size: 1.1rem;
  color: #d0d0d0;
  margin-bottom: 30px;
  line-height: 1.6;
}

.shop-btn {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
  padding: 12px 30px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
}

.shop-btn:hover {
  background-color: #fff;
  color: #000;
} */
